CLOUD_NAME=cloud_name
API_KEY=api_key
API_SECRET=api_secret

WEBSITE_URL=

DJANGO_DEBUG=
DJANGO_SECRET_KEY=

ACCESS_TOKEN_LIFETIME=1
REFRESH_TOKEN_LIFETIME=2

# you can left this empty if you don't want to use it
# and by default it will use django backend email as the sender
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
